{% extends "wageauction/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Auction
{% endblock %}

{% block content %}

    <div class="instructions well well-lg">
        <p> To offer an initial wage to the potential employees, click one of the buttons below and then submit. <br>
            (The submit button will appear after clicking a number button.) <br>
            All offers will be communicated to the workers and other employers still participating in the auction.
        </p>
        <p>
            There are <b> <span id="emps_left"> {{ Constants.num_employers }} </span> </b> employers and <b><span
                id="workers_left"> {{ Constants.num_workers }} </span> </b> workers left in the market.
        </p>
        <p>
            If you hire a worker, you are endowed with 40 points but you have to pay the final wage out of this (and
            some potential revenue).
            If you do not hire any worker, your payoff is 0. Taxes may apply. </p>
    </div>

    <div id="otree-timeout">Time left to the end of the auction:
        <span id="otree-timer__time-left"></span></div>

    {% include 'wageauction/open_contracts_block.html' %}

    <div> Your current wage offer: <b><span id="standing_offer"></span></b></div>
    <div>
        <p>You can offer:
            {% for offer in Constants.offers %}
                <button type="button" data-offer={{ offer }} class="offer">{{ offer }}</button>
            {% endfor %}
        </p>
    </div>
{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="{% static "wageauction/js/jquery.countdown.js" %}"></script>
    {% include 'wageauction/js_vars_for_auction_block.html' %}
    <script>
        $("button.offer").on("click", function () {
            console.log('offer clicked');
            create_or_update_contract($(this).data('offer'));
        });
        create_or_update_contract = function (amount) {
            var msg = {
                role: role,
                player_pk: player_pk,
                wage_offer: amount
            };
            if (socket.readyState === socket.OPEN) {
                socket.send(JSON.stringify(msg));
            }
            ;
        };
    </script>
{% endblock %}
