{% load staticfiles otree_tags %}
<script>
    var group_id = {{ group.pk }};
    var time_left = {{ time_left}};
    var role = "{{ player.role }}";
    var player_pk = "{{ player.pk }}";
    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    var socket = new WebSocket(ws_scheme + '://' + window.location.host + "/wageauction/group" + group_id);
    var active_contracts;
    var closed_contracts;
    var nooffers = "There are currently no standing offers.";
    var milliseconds = 1000 * time_left;


    function update_create_countdown(milliseconds) {
        $('div#otree-timeout').show();
        var currentDate = new Date();
        $('span#otree-timer__time-left').countdown(currentDate.valueOf() + milliseconds)
            .on('update.countdown', function (event) {
                // %-N is "Total count of minutes till the end, non-padded"
                // %S is seconds left
                var format = '%-N:%S';
                $(this).html(event.strftime(format));
            })
            .on('finish.countdown', function (event) {
                if ($("#hidden_partner_id").val() > 0) {

                }
                else {
                    $("#test").val(0);
                }
                $('<input>').attr({
                    type: 'hidden',
                    name: 'timeout_happened',
                    value: '1'
                }).appendTo('form');
                $('#form').submit();
            });
    }

    function curtime() {
        return (new Date().getTime());
    }

    // Handle any errors that occur.
    socket.onerror = function (error) {
        console.log('WebSocket Error: ' + error);
    };
    // Show a connected message when the WebSocket is opened.
    socket.onopen = function (event) {
        console.log('connected to oTree');
    };
    // Handle messages sent by the server.
    socket.onmessage = function (event) {
        var obj = jQuery.parseJSON(event.data);
        if (obj.day_over) {
            $('#form').submit();
            return;
        }
        ;
        if (obj.closed_contracts) {
            var closed_contracts = jQuery.parseJSON(obj.closed_contracts);
            console.log('CLOSED::::' + obj.closed_contracts);
            $.each(closed_contracts, function (key, value) {
                    console.log('EMPLOYER ID:: ' + value.employer_id);
                    if (role === 'employer' && parseInt(value.employer_id) === parseInt(player_pk)) {
                        $('#form').submit();
                        return;
                    }
                    ;
                    if (role == 'worker' && value.worker_id == player_pk) {
                        $('#form').submit();
                        return;
                    }
                    ;
                }
            );

        }
        ;

        if (obj.active_contracts) {
            active_contracts = jQuery.parseJSON(obj.active_contracts);
            $('div#active_offers').empty();
            $.each(active_contracts, function (key, value) {
                $to_add = '<span class="badge open_contract offer" data-pk="' +value.pk +'" data-amount="' + value.amount  +'">'+value.amount +'</span>';
                $('div#active_offers').append($to_add);
            });
        }
        // Show a disconnected message when the WebSocket is closed.
    }
    ;
    socket.onclose = function (event) {
        console.log('disconnected from oTree');
    };
</script>

