{% load staticfiles otree_tags %}
<script>
    var worker_code = "{{ participant.code }}";
    var player_pk = "{{ player.pk }}";
    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    var socket = new WebSocket(ws_scheme + '://' + window.location.host + "/workpage/" + worker_code + "/" + player_pk);

    // Handle any errors that occur.
    socket.onerror = function (error) {
        console.log('WebSocket Error: ' + error);
    };
    // Show a connected message when the WebSocket is opened.
    socket.onopen = function (event) {
        console.log('connected to oTree');
    };
    // Handle messages sent by the server.
    socket.onmessage = function (event) {
        console.log('message received:: ' + JSON.stringify((event.data)));
        var obj = jQuery.parseJSON(event.data);
        $('span#correct_answer').html(obj.correct_answer);
        $('span#tasks_attempted').html(obj.tasks_attempted);
        $('span#tasks_correct').html(obj.tasks_correct);
        $('table#box1').empty();
        $('table#box2').empty();
        $.each(obj.mat1, function (i, row) {
            var tr = $('<tr>');
            $.each(row, function (j, cell) {
                $('<td>').html(cell).appendTo(tr);
            });
            $('table#box1').append(tr);
        });
        $.each(obj.mat2, function (i, row) {
            var tr = $('<tr>');
            $.each(row, function (j, cell) {
                $('<td>').html(cell).appendTo(tr);
            });
            $('table#box2').append(tr);
        });

        var obj = jQuery.parseJSON(event.data);

    }
    ;
    socket.onclose = function (event) {
        console.log('disconnected from oTree');
    };
</script>

