{% load staticfiles otree_tags %}
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <form action="" id="js_choosing_task_form" class="filka">
            <div class="modal-header">
                <h5 class="modal-title">Choose the task!</h5>

            </div>
            <div class="modal-body">

                {% csrf_token %}
                {{ form.errors }}
                {{ form.non_field_errors }}
                {% formfield form.task_choice label='' %}

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary choosing-btn">Choose</button>
            </div>
        </form>
    </div>
</div>


