{% load staticfiles otree_tags %}
<div class="modal " tabindex="-1" role="dialog" id="choosing_task_modal">

</div>

<script>
    $(function () {

        var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
        var ws_path = ws_scheme + '://' + window.location.host + "/tasktracker/participant/{{ participant.code }}/player/{{ player.pk}}";
        var socket = new ReconnectingWebSocket(ws_path);

        // Handle any errors that occur.
        socket.onerror = function (error) {
            console.log('WebSocket Error: ' + error);
        };
        // Show a connected message when the WebSocket is opened.
        socket.onopen = function (event) {
            console.log('connected to oTree');
            var msg = {
                'form_request': true
            };
            if (socket.readyState === WebSocket.OPEN) {
                socket.send(JSON.stringify(msg));
            }
            ;
        };
        // Handle messages sent by the server.
        socket.onmessage = function (event) {
            var obj = jQuery.parseJSON(event.data);
            $('span#tasks_attempted').html(obj.tasks_attempted);
            $('span#tasks_correct').html(obj.tasks_correct);
            if (obj.modal_show === true) {
                {#                here goes a code to activate the popup #}
                $('#choosing_task_modal').html(obj.form);
                $('#choosing_task_modal').modal({backdrop: 'static', keyboard: false}, 'show');

            }
            else {
                $('#choosing_task_modal').modal('hide');
                $('span#correct_answer').html(obj.correct_answer);
                $('table#box1').empty();
                $('table#box2').empty();
                $.each(obj.mat1, function (i, row) {
                    var tr = $('<tr>');
                    $.each(row, function (j, cell) {
                        $('<td>').html(cell).appendTo(tr);
                    });
                    $('table#box1').append(tr);
                });
                $.each(obj.mat2, function (i, row) {
                    var tr = $('<tr>');
                    $.each(row, function (j, cell) {
                        $('<td>').html(cell).appendTo(tr);
                    });
                    $('table#box2').append(tr);
                });

            }


        }
        ;
        socket.onclose = function (event) {
            console.log('disconnected from oTree');
        };
        $("button.answer").on("click", function () {

            var msg = {
                'answer': $('input#answer').val(),
                'contains_form': false,
                'contains_answer': true,
                'form_request': true
            };
            if (socket.readyState === WebSocket.OPEN) {
                socket.send(JSON.stringify(msg));
            }
            ;
            $("input#answer").val('');
        });

        $("input#answer").keyup(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                $("button.answer").click();
            }
        });
        $("#choosing_task_modal").on("submit", ".filka", function (e) {
            e.preventDefault();
            var form = $(this);
            var formData = JSON.stringify(form.serializeArray()); // store json string
            {#            var formData = form.serialize();#}
            var msg = {
                'contains_form': true,
                'form_data': formData
            }
            if (socket.readyState === WebSocket.OPEN) {
                socket.send(JSON.stringify(msg));
            }

        });

    });
</script>

